@import "tailwindcss";

@theme {
  --font-sans: 'DM Sans', sans-serif;
  --font-display: 'Space Grotesk', sans-serif;

  --color-primary: #818cf8;
  --color-secondary: #c084fc;
  --color-dark: #0f172a;
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary;
  }
}